body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;

}

.left-side {
    width: 50%;
    padding-left: 8%;
}

.right-side {
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
}

.right-side img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;

}

.section-top {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}


.dream-big {

    margin-top: 150px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-right {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 15%;

}

.dreram-left {
    width: 50%;

    margin-top: 5%;
}

.dream-left img {
    width: 100%;
    padding-left: 18%;
}

.experience-area {
    margin-bottom: 100px;
    margin-top: 150px;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.area-left {
    width: 42.5%;
    margin-left: 5%;
    margin-right: 2.5%;
    padding: 40px 50px 80px 50px;
    box-shadow: 10px 10px 40px #333;
    border-left: 7px solid #FF6347;
    border-radius: 3px;
}

.area-right {
    width: 42.5%;
    margin-left: 2.5%;
    margin-right: 5%;
    padding: 40px 50px 80px 50px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid #0000FF;
    border-radius: 3px;
}